{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}
    <h1>Lieux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieus %}
            <tr>
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.name }}</td>
                <td>
                    <a href="{{ path('app_lieu_show', {'id': lieu.id}) }}">Voir</a>
                    <a href="{{ path('app_lieu_edit', {'id': lieu.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lieu_new') }}">Créer</a>
{% endblock %}
